grafana:
      grafana.ini:
        database:
          type: postgres
          host: postgres-svc.database.svc.cluster.local:5432
          name: grafana
          user: grafana
          ssl_mode: disable

      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
          - grafana.local
        paths:
          - /